<!-- views/pages/complete.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
         <div class="jumbotron">
            <h1>This is the complete page</h1>
            <p>Braintree App Complete</p>
            <p>Your merchant ID is: <%= id %></p>
            <p>Your application status is: <%= status %></p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>