<!-- views/pages/error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
         <div class="jumbotron">
            <h1>This is the error page</h1>
            <p>Braintree or Site error:</p>
            <p><%= message %></p>
            <p>Error: <%= err %></p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>